
<style>
.sasa{
text-align:center;
color:#ff0000;
white-space:nowrap;
}
.sas{
text-align:center;
font-size:50pt;
color:#ff0000;
white-space:nowrap;
}
</style>
<div class="sasa">

<span class="sas">MyIP is:<%=@ip%></span>
<hr>
<p class="sas">GeoIp:<%=@info%></p>
<p class="sas">Your Country:<%=@info.country_name%></p>
<p class="sas">Your Timezone:<%=@info.timezone%></p>
  </div>
  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
