
<style>
.sasa{
text-align:center;
color:#ff0000;
white-space:nowrap;
}
.sas{
text-align:center;
font-size:50pt;
color:#ff0000;
white-space:nowrap;
}
</style>
<div class="sasa">

MyIP is:<span class="sas"><%=@ip%></span>
<hr>
City:<p class="sas"><%=@info%></p>



  </div>
